:root {
  --vp-c-brand-1: #6CAFD6;
  --vp-c-brand-2: #84C1E3;
  --vp-c-brand-3: #9ED3F0;
  --vp-c-brand-soft: rgba(85, 104, 127, 0.14);
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #6CAFD6 30%, #55687F 90%);
  --vp-home-hero-name-color: transparent;
  --vp-button-brand-shadow: rgba(108, 175, 214, 0.5);
}

.dark {
  --vp-c-brand-1: #6CAFD6;
  --vp-c-brand-2: #84C1E3;
  --vp-c-brand-soft: rgba(85, 104, 127, 0.25);
}

.header-anchor {
  content: "#" !important;
}