/* .vitepress/theme/custom.css */

.vp-doc a[href^="http"]:not([href*="wolfeovo.github.io"])::after {
  content: "";
  display: inline-block;

  width: 1em;
  height: 1em;
  margin-left: 0.2em;

  background-color: var(--vp-c-brand-1); 

  vertical-align: -0.15em; 

  --icon-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" viewBox="0 0 24 24"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/><polyline points="15 3 21 3 21 9"/><line x1="10" y1="14" x2="21" y2="3"/></svg>');

  -webkit-mask: var(--icon-svg) no-repeat 50% 50%;
  mask: var(--icon-svg) no-repeat 50% 50%;

  -webkit-mask-size: contain;
  mask-size: contain;

  transition: background-color 0.2s;
}

.vp-doc a[href^="http"]:not([href*="wolfeovo.github.io"]):hover::after {
  background-color: var(--vp-c-brand-2);
}

.vp-doc a[href^="http"]:has(img)::after {
  display: none;
}